.page-content {
  margin-top: 60px; /* Décalage pour la barre de navigation supérieure */
  padding: 20px;
  text-align: center;
}

.page-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.page-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.page-content img {
  max-width: 100%;
  height: auto;
}
